@carte-largeur: 5em;
@carte-hauteur: 7em;
@carte-background-size: (13*@carte-largeur) (4*@carte-hauteur);
html, body {
	height: 100%;
	overflow: hidden;
}
body {
	margin: 0;
	background-color: #393;
}
#plateau {
	position: relative;
	margin: 0 auto;
}
.carte {
	background-color: #FFF;
	box-sizing: border-box;
	background-image: url(images/dos_bleu.png);
	box-shadow: 0em 0em 0em .05em rgb(211, 211, 211), 0.05em .05em .4em rgba(0,0,0,.5);
	background-size: @carte-largeur @carte-hauteur;
	width: @carte-largeur;
	height: @carte-hauteur;
	position: absolute;
	border-radius: .5em;
	&.ouverte {
		background-image: url(images/cartes5x7.png);
		background-size: @carte-background-size;
	}
}
.pile.ouverte > .carte {
	background-image: url(images/cartes5x7.png);
	background-size: @carte-background-size;
}
.jouable > .carte {
	background-color: yellow;
}
.prise {
	box-shadow: 0.5em 0.5em 1.5em rgba(0,0,0,.3);
}
.trou {
	.carte;
	position: relative;
	background-image: none;
	border-style: dashed;
	border-width: .1em;
	background-color: #393;
	box-shadow: none;
}
.possibilite > .carte {
	background-color: cyan;
}
#talon div.carte {
	box-shadow: none;
}
.pile {
	position: absolute;
	left: 0;
	top: 0;
}
a.choixJeu {
	font-family: arial;
	display: block;
	font-size: 24px;
	border: 1px solid black;
	border-radius: 5px;
	background: linear-gradient(
		rgba(255, 255, 255, 0.5),
		rgba(255, 255, 255, 0.05) 50%,
		rgba(0, 0, 0, 0.05) 50%,
		rgba(0, 0, 0, 0.6),
	);
	padding: 0px 2px;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
	margin: 3px;
}
