html, body {
	height: 100%;
}
body {
	margin: 0;
	background-color: #393;
	position: relative;
	width:40.5em;
	margin: 0 auto;
}
@media all and (min-aspect-ratio: 1/1) {
	body {
		font-size: 2.5vh;
	}
}
@media all and (max-aspect-ratio: 1/1) {
	body {
		font-size: 1.6vw;
	}
}
div.carte {
	background-color: #FFF;
	background-image: url(images/dos_bleu.png);
	border: 1px solid black;
	background-size: 5em 7em;
	width: 5em;
	height: 7em;
	position: absolute;
	border-radius: .5em;
	&.ouverte {
		background-image: url(images/cartes5x7.png);
		background-size: 5em*13 4*7em;
	}
	&.trou {
		background-image: none;
		border-style: dashed;
		background-color: #393;
	}
}
div.pile {
	width: 5em;
	height: 7em;
	position: absolute;
}
div.bouton {
	font-family: times new roman;
	font-weight: bold;
	position: absolute;
	line-height: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 2em;
	height: 2em;
	left: 100px;
	top: 5px;
	padding: 0px;
	box-sizing: border-box;
	text-align: center;
	border: 1px outset green;
	cursor: pointer;
	radius: 5px;
	background-color: green;
}
a.choixJeu {
	font-family: arial;
	display: block;
	font-size: 24px;
	border: 1px solid black;
	border-radius: 5px;
	background: linear-gradient(
		rgba(255, 255, 255, 0.5),
		rgba(255, 255, 255, 0.05) 50%,
		rgba(0, 0, 0, 0.05) 50%,
		rgba(0, 0, 0, 0.6),
	);
	padding: 0px 2px;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
	margin: 3px;
}
