@import url(cards.less);
@largeur: 5*7 + 1*8;
#board {
	width: @largeur*1em;
}
#waste {
	left: 7rem;
	top: 1rem;
	& > .pile:last-child .pile {
		margin-left: 1rem;
	}
}
#talon {
	left: 1rem;
	top: 1rem;
	&:before {
		display: block;
		content: "";
		.trou;
	}
}
#fondation {
	position: absolute;
	left: 19rem;
	top: 1rem;
	display: flex;
	& > .maison {
		position: relative;
		& + .maison {
			margin-left: 1rem;
		}
		&:before {
			content: "";
			.trou;
		}
		&:nth-child(1):before {
			content: "♥";
			content: "";
			background-image: url(images/fond_trou_c.svg);
		}
		&:nth-child(2):before {
			content: "♣";
			content: "";
			background-image: url(images/fond_trou_t.svg);
		}
		&:nth-child(3):before {
			content: "♦";
			content: "";
			background-image: url(images/fond_trou_k.svg);
		}
		&:nth-child(4):before {
			content: "♠";
			content: "";
			background-image: url(images/fond_trou_p.svg);
		}
	}
}
#tableau {
	position: absolute;
	left: 1rem;
	top: 9rem;
	display: flex;
	justify-content: space-between;
	width: @largeur - 2rem;
	& > .pile {
		position: relative;
		&:before {
			display: block;
			content: "";
			.trou;
		}
        & > .pile .pile {
            margin-top: .5rem;
        }
	}
	.pile.visible > .pile {
		margin-top: 1.5rem;
	}
}
@media all and (min-aspect-ratio: 4/3) {
	html {
		font-size: 4/3*100vh/@largeur;
	}
}
@media all and (max-aspect-ratio: 4/3) {
	html {
		font-size: 100vw/@largeur;
	}
}
