@largeur: 5*10 + 1*11;
#plateau {
	width: @largeur*1em;
}
@media all and (min-aspect-ratio: 3/2) {
	body {
		font-size: 3/2*100vh/@largeur;
	}
}
@media all and (max-aspect-ratio: 3/2) {
	body {
		font-size: 100vw/@largeur;
	}
}
